.block--career-location-v2 {
  position: relative;
  .card__icon-loc {
    > .inner {
      padding-bottom: 170px;
      height: 0;
      width: 100%;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      object-fit: contain !important;
      max-width: 100%;
      max-height: 100%;
      transform: translateY(-50%);
    }
  }
  .cl__headline {
    font-size: 2rem;
  }
  .nav {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    padding: 2rem 1.5rem;
    .btn {
      color: #238087;
      font-weight: 600;
      svg path, svg g {
        fill: #238087;
        stroke: #008e93;
      }
      &:hover, &:focus {
        color: #76c546;
        svg path, svg g {
          fill: #76c546;
          stroke: #67d036;
        }
      }
    }
  }
  .card__icon-loc {
    margin: 0 auto;
  }
  .nav-item-1, .nav-item-2 {
    .card__icon-loc {
      max-width: 150px;
    }
  }
  .nav-item-3 {
    .card__icon-loc {
      max-width: 60px;
    }
  }
  .nav-item-4 {
    .card__icon-loc {
      max-width: 100px;
    }
  }
  .nav-item-5 {
    .card__icon-loc {
      max-width: 120px;
    }
  }
  .nav-item-6, .nav-item-8 {
    .card__icon-loc {
      max-width: 80px;
    }
  }
  .nav-item-7 {
    .card__icon-loc {
      max-width: 60px;
    }
  }
  @include md-up {
    .nav-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .btn {
      opacity: 0.61;
      &:hover, &:focus {
        opacity: 1;
      }
    }
  }
  @include lg-up {
    .nav-item {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
}

#career-loc-modal {
  .text-quote__quote {
    color: #238087;
  }
  .cs-quote__img {
    max-width: 400px;
    @include md-up {
      max-width: 500px;
    }
    margin-left: auto;
    margin-right: -3rem;
    margin-bottom: -4rem;
  }
  .md__body {
    p {
      font-size: 1rem
    }
  }
}


@media (min-width: 992px) {
  #career-loc-modal {
    .md__body {
      p {
        font-size: 1.125rem
      }
    }
  }
  
}

@media (min-width: 1200px) {
  .block--career-location-v2 {
    .nav-item {
      max-width: 25%;
    }
  }
}

@media (min-width: 1600px) {
  .block--career-location-v2 {
    .nav-item {
      max-width: 12.5%;
    }
    .cl__headline {
      font-size: 1.5rem;
    }
  }
}


@media (min-width: 1900px) {
  .block--career-location-v2 {
    .cl__headline {
      font-size: 1.75rem;
    }
  }
}