.contact-block {
  border-radius: var(--radius-MD);
  padding: 2rem;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
  }
  a {
    transition: 300ms ease opacity;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: 300ms ease opacity;
    }
  }
}

.block--contact-form .cont.is-sm {
  max-width: 1100px;
}
.block--contact-form .half--contact {
  margin-top: 3rem;
  @include md-up {
    margin-top: 0;
    max-width: 400px;
  }
}
.block--contact-form .half--form {
  @include md-up {
    padding-right: 4rem;
    flex-grow: 1;
  }
}
.block--contact-form .mktoForm.mktoHasWidth,
.block--contact-form .mktoForm select,
.block--contact-form .mktoFormCol,
.block--contact-form .mktoButtonRow,
.block--contact-form .mktoButtonWrap,
.block--contact-form .mktoButton,
.block--contact-form .mktoFieldWrap,
.mktoForm input[type="submit"],
.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField .block--contact-form .mktoForm textarea {
  width: 100% !important;
  max-width: 100%;
}
.block--contact-form .mktoButtonWrap {
  width: 100%;
  // border: 1px solid red;
}
.block--contact-form .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  left: 0 !important;
  width: 100% !important;
  text-transform: uppercase !important;
  background: var(--gradient-Green) !important;
  border-radius: var(--radius-MD) !important;
  padding: 1rem !important;
}

.m-form-container {
  .m-form {
    .mktoFormRow, .mktoFormCol, .mktoFieldWrap, input[type="email"], input#Email, .mktoButtonWrap, .mktoButtonRow {
      width: 100% !important;
      max-width: 100%;
    }
    input[type="email"], input#Email {
      margin-left: 0 !important;
    }
    .mktoButtonWrap.mktoSimple .mktoButton {
      left: 0 !important;
      width: 100% !important;
      text-transform: uppercase !important;
      background: var(--gradient-Green) !important;
      border-radius: var(--radius-MD) !important;
      padding: 1rem !important;
    }
    &.mktoForm {
      padding: 0 0 2rem;
    }
  }
}