.block--success-cards-v2 {
  position: relative;
  &.has__bg-img {
    > .cont {
      padding-top: 60px;
    }
  }
  .block-bg__imgV2 {
    background-position: top center !important;
  }
  .btn-success-cards {
    background: transparent;
    border: 0;
    outline: none;
    &:hover, &:focus {
      outline: none;
      border: 0;
    }
  }
  &.is-text--white {
    .half-text__headline {
      .is-text--green-10 {
        color: #FFFFFF;
      }
    }
  }
  .svg__shape-bottom {
    left: 0;
    bottom: -1px;
    width: 101vw;
    > .inner {
      padding-bottom: 23.54166%;
      background-size: contain !important;
    }
  }
}

.svg__container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  svg {
    position: absolute;
    top: 0;
    left: 0
  }
}

.svg__container.svg__success {
  padding-bottom: 70.1628%;
}

.success-cards-v2 {
  .btn__card {
    position: relative;
    text-align: left;
    margin-bottom: 0;
    white-space: initial;
    background: transparent;
    border: 0;
    outline: none;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem 1.5rem 1.5rem 140px;
    .svg__icon {
      position: absolute;
      left: 40px;
      top: 1rem;
      width: 90px;
    }
  }
  .card-body {
    padding: 40px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      width: calc(100% - 80px);
      background: #CDCDCD;
      height: 1px;
    }
  }
  .card {
    margin-bottom: 3rem;
    border-radius: 35px;
    box-shadow: inset 0px 3px 6px #00000029;
    background: rgba(36, 128, 136, 0.93);
    color: #FFF;
  }
  .acc-ctn__title, .acc-ctn__title > p {
    font-size: 1.675rem;
    font-weight: 600;
    line-height: 1.325;
  }
  .acc-ctn__image {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .acc-ctn__text-right {
    font-size: 1.25rem;
  }
  .card {
    &:nth-child(3n+1) {
      .svg__icon svg path {
        fill: #33B936;
      }
      .card__inner .btn {
        background-color: #33B936;
        border-color: #33B936;
      }
    }
    &:nth-child(3n+2) {
      .svg__icon svg path {
        fill: #023156;
      }
      .card__inner .btn {
        background-color: #023156;
        border-color: #023156;
      }
    }
    &:nth-child(3n) {
      .svg__icon svg path {
        fill: #D3D3D3;
      }
      .card__inner .btn {
        background-color: #EBAA2F;
        border-color: #EBAA2F;
      }
    }
  }
}


@media (min-width: 992px) {
  .success-cards-v2 {
    .card__inner {
      > .row {
        margin-left: -50px;
        margin-right: -50px;
        > .col-lg-6 {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    .card__inner {
      > .row > .col-lg-6:nth-child(1) {
        border-right: 1px solid #CDCDCD;
      }
    }
  }
}


@media (max-width: 567px) {
  .success-cards-v2 {
    .btn__card {
      padding: 2rem 1.5rem 1.5rem 120px;
      font-size: 1.75rem;
      .svg__icon {
        top: 2.5rem;
        width: 60px;
      }
    }
  }
}